/*STYLE.CSS FILE FOR INDEX.PHP*/
/*CREATOR : GUSTAV I*/

/*STYLE CSS FILE FOR INDEX.HTML*/

html {
  height: 100%;
  width: 100%;
}

h1 {
  text-align : center;
  background-color: purple;
  padding : 20px;
  color : #ffff;
  font-size : 40px;
  font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h4 {
  text-align : center;
  font-size : 15px;
  font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
  background-color : whitesmoke
}

button {
  background-color : purple;
  color : #ffff;
  font-size : 12px;
  padding : 10px;
  border-radius : 10px;
  margin : 10px;
}